.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #245189 0%,
    #04dcf4 29%,
    #1c78ef 67%,
    #60f396 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.animate-character-comp
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #245189 0%,
    #04dcf4 29%,
    #1c78ef 67%,
    #60f396 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.side-menubar
{
  right: 0;
  top: 0;
  width: min(100%,420px);
}