.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
}

.text-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #f8f9fa;
}

.text-2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #6b7280
}

.text-3{
    font-family: Arial, Helvetica, sans-serif;/*Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 16px;
    color: #4b5563
}


  


  


  